body {
  color: black;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  background-color: rgb(138, 138, 138);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.bold {
  font-weight: 700;
}

#header-top {
  background-color: black;
  color: white;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  padding: 2rem;
}

#header-top span {
  text-align: center;
  font-size: 1.7rem;
  margin: 0.2rem;
  /* color: rgb(226, 212, 12); */
  color: black;
  font-family: "Exo 2", Arial, Helvetica, sans-serif;
  text-shadow:
  -1px 1px 5px rgba(255, 255, 255, 0.5),
   1px 1px 2px rgba(255, 255, 255, 0.5);
}

#star-wars-logo {
  width: 200px;
}

.char-card {
  border: 6px white solid;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px rgb(71, 71, 71),
        5px 5px 15px rgb(37, 37, 37);
  z-index: 2;
  width: 156px;
  height: 200px;
  margin-right: -60px;
  background-image: url("../images/back-card.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.char-card i {
  color: rgb(206, 27, 27);
}

#char-select, #instructions, #battle-result {
  width: 100%;
  text-align: center;
}

.message {
  font-weight: 700;
  margin: 0.5rem 0;
}

#instructions {
  font-size: 2rem;
  margin-top: 1rem;
}

#battle-result {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}

.char-img {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#char0 {
  background-image: url("../images/0.png");
}

#char1 {
  background-image: url("../images/1.png");
}

#char2 {
  background-image: url("../images/2.png");
}

#char3 {
  background-image: url("../images/3.png");
}

#char0-gs {
  background-image: url("../images/0-gs.png");
}

#char1-gs {
  background-image: url("../images/1-gs.png");
}

#char2-gs {
  background-image: url("../images/2-gs.png");
}

#char3-gs {
  background-image: url("../images/3-gs.png");
}

.char-stats-div {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 90%;
  text-align: left;
  padding-left: 0.5rem;
}

#battle-arena {
  /* background-color: white; */
  /* position: fixed; */
  bottom: 40px;
  width: 100%;
}

#battle-player, #battle-enemy {
  /* border: 1px dotted black; */
}

#battle-player div, #battle-enemy div {
  margin: 0;
}

.battle {
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#versus {
  width: 100px;
  margin: 0 1rem;
}

.battle button {
  width: 100%;
  margin-bottom: 0.5rem;
}

#attackButton {
  background-color: rgb(192, 26, 26);
  color: white;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0 1rem;
  box-shadow: 0 3px 3px 1px rgb(48, 47, 47, 0.7);
  font-size: 1.1rem;
}

.grey-font {
  color: rgb(151, 151, 151);
  border: 6px solid rgb(156, 156, 156);
  box-shadow: 0px 0px 0px 1px rgb(71, 71, 71),
  5px 5px 15px rgb(37, 37, 37);
}